.phone{
    max-width: 350px;
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 auto;
    border-radius: 40px;
    overflow: hidden;
    z-index: 999;
    margin-top: 60px;
    margin-left: 30px;
    
}
.phone-top{
    margin:1em;
    background: var(--app-bakcground);
}
.gradient{
    width: 50%;
    background: linear-gradient(235deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    height: 95vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom-right-radius: 100% 30%;
    border-bottom-left-radius: 0% 4%;
}
.header{
    background: linear-gradient(235deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 8px 8px;
}
.head{
    width: 150px;
    height: 30px;
    background: var(--white);
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    margin-top: -80px;
    margin-left: 80px;
}
.first{
    padding: 1.8em 0.8em 0.5em 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    line-height: 0.5;
}
.points{
    width: 30px;
}
.point-1{
    width: 4px;
    height: 13px;
    background: var(--white);
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    transform: rotate(40deg);
    margin-top: -12px;
    margin-left: 10px;
}
.point-2{
    width: 4px;
    height: 13px;
    background: var(--white);
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    transform: rotate(140deg);
    margin-top: -3px;
    margin-left: 10px;
}

/*vertical dots*/
.second{
    width: 40px;
    aspect-ratio: 1;
    margin: 1em;
    display: block;
}
.dots{
    margin: 25px;
}
[class^="dot-"]{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--white);
    display: block;
    margin-bottom: 1px;
}

