@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root{
    --sub-heading: hsl(276, 100%, 81%);
    --chat-left: hsl(276, 55%, 52%);
    --chat-right: hsl(271, 15%, 43%);
    --text: hsl(206, 6%, 79%);
    --main-heading: hsl(271, 36%, 24%);
    --para: hsl(270, 7%, 64%);
    --gradient1: hsl(293, 100%, 63%);
    --gradient2: hsl(264, 100%, 61%);
    --white: hsl(0, 0%, 100%);
    --app-bakcground: hsl(270, 20%, 96%);
    --btn: hsla(271, 36%, 24%, 0.842);
    --ratio-btn: hsl(289, 100%, 72%);
}



*,*::before,*::after{
    box-sizing: border-box;
}

html{
    font-family: 'Rubik', sans-serif;
}
p{
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}